#block-block-1 {
  margin-bottom: 0em;
}

#block-block-1 p {
  margin-bottom: 0em;
}

.username {
  text-transform:capitalize;
}

.sidebar-second .region-sidebar-second {
  width: 100%;
  margin-left: 5px;
  color: #e6e7e8;
}

/* fix progress font size */
.progress .progress-bar {
	font-size: 11px;
	line-height: 13px;
}

/* fix menu favorites link */
.status-widget .title a {
	color: #fff;
	font-size: 13px;
}

/* fix status message font */
.alert em.placeholder {
  font-weight: bold;
}

/* fix inactive menu item */
.menu .sub-menu span.title.gray {
  color: gray;
}

/* fix block user login */
#block-user-login .form-actions {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

/* fix breadcrumb last element */
.page-content .breadcrumb li:nth-child(2) {
  font-size: 12.5px;
  font-weight: 400;
  color: #767d82;
  letter-spacing: 0.5px;
}
.page-content .breadcrumb li:last-child {
  font-weight: 600;
  font-size: 14px;
}

/* fix phase tabs */
 .phases-tab {
  background-color: #F2F4F6;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 10px;
 }

 /* fix progress bar text */
 .progress-large .progress-bar {
  font-size: 13px;
  padding-top: 4px;
 }

 table .tooltip {
  text-align: left;
 }